.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.App {
  text-align: center;
}

.menu-bar {
  background-color: #333;
  color: white;
  padding: 10px;
}

.nav-bar {
  background-color: #080808;
  padding: 10px;
  font-size: 20px;
  
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#btns{
  width: 100px;
  background-color: aqua;
  border: 1px solid rgb(4, 3, 3);
  border-radius: 9px;
}
#signs{
  width: 180px;
  background-color: blue;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 12px;
}

.content {
  padding: 20px;
}
.details{
  justify-content: left;
  margin-left: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.datepicker{
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(132, 165, 42);
  text-align: left;
}
.formdetails{
  text-align: left;
  color: blue;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  margin: 30px;
}
.gender{
  text-align: left;
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  margin: 30px;
}
.percentage{
  text-align: left;
  color: rgb(0, 106, 255);
  font-size: 20px;
}
.time{
  text-align: left;
  color: green;
  font-size: 20px;
  font-weight: 700;
}
.click{
  text-align: left;
  color: rgb(13, 13, 14);
  font-size: 20px;
  font-family: 700;
}
.subbtn{
  width: 90px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(30, 143, 178);
  border: 1px solid rgb(45, 30, 178);
  font-size: 20px;
  cursor: pointer;
  border-radius: 9px;
}
